<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">-->
<!--<head>-->
<!--    <title>Hello World!</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="'Sign Out'"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello World!</title>
</head>
<body>
    <a href="/line/1">1호선</a>
    <a href="/line/2">2호선</a>
    <a href="/line/3">3호선</a>
    <a href="/line/4">4호선</a>
    <a href="/line/5">5호선</a>
    <a href="/line/6">6호선</a>
</body>
</html>